<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">

      <!-- The queryParams directive below is related to the Angular Router -->
      <!-- The fragment directive attaches a string to the end of the route -->
      <!-- Also, we get the server.id dynamically from  *ngFor"let SERVER of servers-->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: 1}" 
        [fragment]="'loading'"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReloadPage()"> Reload Page </button>

    <!-- All the child routes of the route being loaded on the ServersComponent -->
    <router-outlet></router-outlet>
    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

